@import url('https://fonts.googleapis.com/css2?family=Gentium+Book+Plus:wght@400;700&family=IM+Fell+French+Canon&family=Labrada&family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
:root{
    --headerclr:#222533;
    --mainclr:#469DFF;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
}

body{
    background: url(img/bg2.avif) no-repeat;
    background-size: cover;
    background-position: center;
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
    background: rgba(241,248,255,255);
}

:root{
    --bg-color: #e2e2e2;
    --primary: #1c1c1c;
    --secondary: #e24806;
    --tertiary: #f4f4f4;
    --fourth: #a7a7a7;
    --linear-background: linear-gradient(45deg, rgba(0,0,0,0.65), rgba(0,0,0,0.65), rgba(0,0,0,0.54));
    --linear-background-destination: linear-gradient(to bottom, rgba(0,0,0,0.0), rgba(0,0,0,0.35), rgba(0,0,0,0.65), rgba(0,0,0,0.78), rgba(0,0,0,0.80));
}

/*------------------------HEADER----------------------------*/
header{
    font-family: 'Roboto', sans-serif;
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    box-shadow: 0 5px 25px rgb(0 0 0 / 20%);
    padding: 0 50px;
    transition: 0.6s;
}


header .logo img{
    width: 80px;
    height: 70px;
}

header .navigation{
    position: relative;
    line-height: 75px;
}

header .navigation .menu{
    position: relative;
    display: flex;
    justify-content: center;
    list-style: none;
    user-select: none;
}

.menu-item > a{
    font-family: 'Roboto', sans-serif;
    color: #000;
    font-size: 1.05em;
    font-weight: 400;
    text-decoration: none;
    margin: 20px;
    padding: 25px 0;
}

.menu-item > a:hover{
    color: #469DFF;
    transition: 0.2s;
}

.menu-item .sub-menu{
    position: absolute;
    background: #fff;
    top: 74px;
    line-height: 40px;
    list-style: none;
    border-radius: 0 0 8px 8px;
    box-shadow: 0 5px 25px rgb(0 0 0 / 20%);
    pointer-events: none;
    transform: translateY(20px);
    opacity: 0;
    transition: 0.1 s;
    transition-property: transform, opacity;
}

.menu-item:hover .sub-menu{
    pointer-events: all;
    transform: translateY(0);
    opacity: 1;
}

.menu-item .sub-menu .sub-item{
    position: relative;
    padding: 7px 0;
    cursor: pointer;
    box-shadow: inset 0px -30px 5px -30px rgba(255, 255, 255, 0.2);
}

.menu-item .sub-menu .sub-item a{
    color: #000;
    font-size: 1.05em;
    text-decoration: none;
    padding: 15px 30px;
}


.menu-item .sub-menu .sub-item:hover{
    background: #469DFF;
}


.menu-item .sub-menu .sub-item:last-child:hover{
    border-radius: 0 0 8px 8px;
}

/*Boton green*/
.menu-item > .green:hover{
    color: #36CF61;
    transition: 0.2s;
}

.menu-item .sub-menu .sub-item1{
    position: relative;
    padding: 7px 0;
    cursor: pointer;
    box-shadow: inset 0px -30px 5px -30px rgba(255, 255, 255, 0.2);
}

.menu-item .sub-menu .sub-item1 a{
    color: #000;
    font-size: 1.05em;
    text-decoration: none;
    padding: 15px 30px;
}


.menu-item .sub-menu .sub-item1:hover{
    background: #36CF61;
}

.menu-item .sub-menu .sub-item1:last-child:hover{
    border-radius: 0 0 8px 8px;
}

/*--------*/
.menu-btn{
    display: none;
}

.bg_image_section{
    width: 100%;
    height: 40vh;
    background: var(--linear-background), url("./city.webp") no-repeat;
    background-position: center center;
    background-size: cover;
}

.hero_section{
    width: 100%;
    height: 55vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    row-gap: 2rem;
    flex-direction: column;
}

.text_section{
    font-size: 4rem;
    font-weight: bold;
    color: var(--tertiary);
    line-height: 7rem;
    margin-bottom: 1rem;
}

@media (max-width: 975px ) and (min-width: 768px) {
    .text_section {
        font-size: 4rem;
        line-height: 5.5rem;
    }
}

@media (max-width: 768px ) {
    .text_section {
        font-size: 3rem;
        line-height: 4rem;
        margin-top: 1rem;
    }
}

.btn_group{
    display: flex;
    align-items: center;
    column-gap: 1.7rem;
    
}   

.text{
    padding: 0 30px 20px;
}

.text button{
    background: #1FAEEB;
    border-radius: 20px;
    border: none;
    color: #fff;
    padding: 10px;
    width: 100%;
    font-size: 1em;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
}

/* texto */
.about {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 1.5rem;
    padding-top: 35px;
    padding-right: 45px;
    margin-left: 30px;
}

.about-img img {
    max-width: 100%;
    height: auto;
    width: 90%;
    border-radius: 1.6rem;
    margin-left: 50px;
}

.about-text {
    margin-top: 25px;
}

.about-text h2 {
    font-size: 2.0rem;
    font-weight: 600;
    line-height: 1.7;
    margin: 0 0 20px;
}

.about-text p {
    line-height: 2;
    margin-bottom: 2.5rem;
    margin-right: 4rem;
}

@media (max-width: 1024px) and (min-width: 769px) {
    .about{
        margin-left: 6rem;
    }
    .about-img {
        text-align: center;
        margin: 0;
    }

    .about-img img {
        width: 100%;
        max-height: 500px; 
        display: block;
        margin: 0 auto; 
    }

    .about-text {
        margin-left: 2rem;
    }
    .about-text p{
        margin-right: -1rem;
    }
}

@media screen and (max-width: 769px) {
    .about {
        grid-template-columns: repeat(1, 1fr);
        margin-left: 1.6rem;
        padding-left: 2.5rem;
    }

    .about-img img {
        width: 90%; 
        max-height: 600px; 
        display: block;
        margin: 0 auto; 
    }
    .about-text{
        margin-right: -2rem;
    }
}

/*reversa*/
.about1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 1.5rem;
    padding-top: 35px;
    padding-right: 45px;
    margin-left: 90px;
}

.about-img1 img {
    max-width: 100%;
    height: auto;
    width: 90%;
    border-radius: 1.6rem;
}

.about-text1 {
    margin-top: 25px;
}

.about-text1 h2 {
    font-size: 2.0rem;
    font-weight: 600;
    line-height: 1.7;
    margin: 0 0 20px;
}

.about-text1 p {
    line-height: 2;
    margin-bottom: 2.5rem;
}

@media (max-width: 1024px) and (min-width: 768px) {
    .about1 {
        grid-template-columns: repeat(2, 1fr);
    }

    .about-img1 {
        text-align: center;
        margin: 0;
    }

    .about-img1 img {
        width: 100%;
        max-height: 500px;
        display: block;
        margin: 0 auto;
    }

    .about-text1 {
        margin-left: 0;
    }
}

@media screen and (max-width: 768px) {
    .about1 {
        grid-template-columns: repeat(1, 1fr);
        margin-left: 4rem;
    }

    .about-img1 {
        order: 1; 
        text-align: center;
        margin: 0;
    }

    .about-img1 img {
        width: 90%;
        max-height: 600px;
        display: block;
        margin: 0 auto;
    }
    .about-text1 {
        margin: 2rem 2rem 0 0;
        order: 2; 
    }
    
}

@media (max-width: 978px ) and (min-width: 768px) {
    header .navigation .menu{
        font-size: 0.9em;
        position: fixed;
        display: block;
        background: #fff;
        min-width: 350px;
        height: 100vh;
        top: 0;
        right: -100%;
        padding: 50px;
        visibility: hidden;
        overflow-y: auto;
        transition: 0.5s;
        transition-property: right, visibility;
    }
    header .navigation .menu.active{
        right: 0;
        visibility: visible;
    }
    .menu-item{
        position: relative;
    }
    .menu-item .sub-menu{
        opacity: 1;
        position: relative;
        top: 0;
        transform: translateX(10px);
        background: rgba(255, 255, 255, 0.1);
        border-radius: 5px;
        overflow: hidden;
        display: none;
    }
    .menu-item:hover .sub-menu{
        transform: translateX(10px);
    }
    .menu-item .sub-menu .sub-item{
        box-shadow: none;
    }
    .menu-item .sub-menu .sub-item:hover{
        background: none;
    }
    .menu-item .sub-menu .sub-item a:hover{
        color: #4080EF;
        transition: 0.3s;
    }
    /*Green*/
    .menu-item .sub-menu .sub-item1{
        box-shadow: none;
    }
    .menu-item .sub-menu .sub-item1:hover{
        background: none;
    }
    .menu-item .sub-menu .sub-item1 a:hover{
        color: #36CF61;
        transition: 0.3s;
    }
    /*--------*/
    .close-btn{
        position: absolute;
        background: url(./close.png)no-repeat;
        width: 40px;
        height: 40px;
        background-size: 25px;
        background-position: center;
        top: 0;
        left: 0;
        margin: 25px;
        cursor: pointer;

    }
    .menu-btn{
        background: url(./menu.png)no-repeat;
        width: 40px;
        height: 40px;
        background-size: 30px;
        background-position: center;
        cursor: pointer;
        display: block;
    }
    header{
        padding: 15px 20px;
    }
}

@media (max-width: 768px ) {
    header .navigation .menu{
        font-size: 0.9em;
        position: fixed;
        display: block;
        background: #fff;
        min-width: 350px;
        height: 100vh;
        top: 0;
        right: -100%;
        padding: 50px;
        visibility: hidden;
        overflow-y: auto;
        transition: 0.5s;
        transition-property: right, visibility;
    }

    header .navigation .menu.active{
        right: 0;
        visibility: visible;
    }
    .menu-item{
        position: relative;
    }
    .menu-item .sub-menu{
        opacity: 1;
        position: relative;
        top: 0;
        transform: translateX(10px);
        background: rgba(255, 255, 255, 0.1);
        border-radius: 5px;
        overflow: hidden;
        display: none;
    }
    .menu-item:hover .sub-menu{
        transform: translateX(10px);
    }
    .menu-item .sub-menu .sub-item{
        box-shadow: none;
    }
    .menu-item .sub-menu .sub-item:hover{
        background: none;
    }
    .menu-item .sub-menu .sub-item a:hover{
        color: #4080EF;
        transition: 0.3s;
    }
    /*Green*/
    .menu-item .sub-menu .sub-item1{
        box-shadow: none;
    }
    .menu-item .sub-menu .sub-item1:hover{
        background: none;
    }
    .menu-item .sub-menu .sub-item1 a:hover{
        color: #36CF61;
        transition: 0.3s;
    }
    /*--------*/
    .close-btn{
        position: absolute;
        background: url(./close.png)no-repeat;
        width: 40px;
        height: 40px;
        background-size: 25px;
        background-position: center;
        top: 0;
        left: 0;
        margin: 25px;
        cursor: pointer;

    }
    .menu-btn{
        background: url(./menu.png)no-repeat;
        width: 40px;
        height: 40px;
        background-size: 30px;
        background-position: center;
        cursor: pointer;
        display: block;
    }
    header{
        padding: 15px 20px;
    }
}

/*------------------------------------*/

/*-------------------------NUESTROS FLOTA DE AUTOS------------------------*/
.our-services{
    margin-top: 60px;
    font-family: 'Roboto', sans-serif;
    padding: 1.2rem 7%;
}

.our-services h1{
    color: black;
    font-size: 40px;
    text-align: center;
    padding: 0.8rem 0;
}

.our-services h1 span{
    color: #469DFF;
}

.our-services h1 span:hover{
    transition: 0.3s;
}

.container2{
    width: 96%;
    padding: 20px;
    margin: 50px auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.box{
    width: 320px;
    height: 250px;
    margin: 0 10px;
    box-shadow: 0 0 20px 2px rgba(0, 0, 0, .1);
    transition: 0.3s;
}

.box img{
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.box:hover{
    transform: scale(1.3);
    z-index: 2;
    transition: 0.3s;
}

@media (max-width:1357px){
    .our-services{
        margin-top: 10px;
    }

    .our-services h1{
        margin-top: 10px;
        font-size: 30px;
    }

    .container2{
        margin: 20px auto;
        width: 100%;
        align-content: space-around;
        flex-wrap: wrap;
    } 

    .box{
        width: 160px;
        height: 200px;
        margin: 0 10px 10px;
        box-shadow: 0 0 20px 2px rgba(0, 0, 0, .1);
        transition: 0.3s;
    }
}

@media (max-width:376px){
    .box{
        width: 240px;
        height: 200px;
        margin: 0 10px 10px;
    }
}


/*------------------------INFO CARROS---------------------------*/
.contact-body {
    width: 100%;
    margin: 0 auto;
    padding: 0 1rem;
}

.contact-info {
    display: flex;
    flex-wrap: wrap; 
    margin: 2rem 0;
    text-align: center;
    padding: 2rem 0;
    justify-content: center;
}

.contact-info div {
    flex: 1 0 20%; 
    box-sizing: border-box; 
    margin: 0.8rem 0;
    padding: 1rem;
}

.contact-info span .fa-solid {
    font-size: 2rem;
    padding-bottom: 0.9rem;
    padding-right: 1rem;
    color: #469DFF;
}

.contact-info div span:nth-child(2) {
    font-weight: 500;
    font-size: 1.1rem;
}

.contact-info .text {
    padding-top: 0.4rem;
}

@media screen and (max-width: 768px) {
    .contact-info div {
        flex-basis: 50%; 
    }
}

@media screen and (max-width: 425px) {
    .contact-info div {
        flex-basis: 100%; 
    }
}

/*-------------------------NUESTROS SERVICIOS------------------------*/
.wrappers{
    font-family: 'poppins',sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #fafafa;
}
.wrappers h1{
    font-size: 3em;

    margin: 25px;
}
.content-box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 1000px;
    margin-top: 30px;
}
.card{
    min-height: 220px;
    width: 320px;
    padding: 30px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #fff;
    margin: 10px 4px;
    box-shadow: 0px 15px 30px rgba(0,0,0,0.2);
}
.card i{
    margin: 20px;
    color: #469DFF;
}
.card h2{
    margin-bottom: 12px;
    font-weight: 600;
    text-align: center;
}
.card p{
    color: #000000;
    text-align: center;
}

@media (max-width: 991px) {
    .wrappers {
        padding: 25px;
    }
    .wrappers h1 {
        font-size: 2.5em;
        font-weight: 600;
    }
    .content-box {
        flex-direction: column;
        width: 100%;
    }
    .card {
        min-width: 300px;
        margin: 10px auto;
    }
}

@media (max-width: 768px) {
    .content-box {
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media (max-width: 425px) {
    .card {
        width: 100%;
    }
}

/*---------------Banner---------------*/
.banner{
    margin-top: 100px;
    background: linear-gradient(rgba(17,17,17,.7),rgba(17,17,17,.7)), url(../../../img/banner.webp) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding: 3rem 2rem;
    text-align: center;
}

.conten span{
    font-size: 2rem;
    color: blue;
}

.conten h3{
    font-size: 3.5rem;
    color: #29CEB0;
    margin-top: 1rem;
    transition: 0.4s;
}

.conten h3:hover{
    cursor: default;
    letter-spacing: 4px;
    transition: 0.3s;
}

.conten p{
    max-width: 60rem;
    margin: 1.2rem auto;
    font-size: 1.2rem;
    color: #fff;
    line-height: 2;
}

.conten a{
    font-size: 1.3rem;
    padding: 7px 22px;
    color: #000;
    text-decoration: none;
    background: #3ECCB2;
    border-radius: 15px;
    border: 2px solid #fff;
    transition: 0.3s;
}

.conten a:hover{
    background: transparent;
    color: #fff;
    border: 2px solid #000;
    transition: 0.3s;
}

/*------------------------------FOOTER-------------------------------*/
footer{
    position: relative;
    width: 100%;
    height: auto;
    padding-top: 60px;
    background: #fff;
}

.footer{
    width: 100%;
    max-width: 1320px;
    margin: 0 auto; 
    padding: 0 12px;
}

.footer-widget a img{
    width: 110px;
    height: 100px;
}

.wrapper{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
}

.wrapper .footer-widget{
    width: calc(20% - 30px);
    margin: 0 15px 50px;
    padding: 0 12px;
}

.wrapper .footer-widget:nth-child(1){
    width: calc(40% - 50px);
    margin-right: 15px;
}

.wrapper .footer-widget .logo{
    margin-bottom: 0;
    vertical-align: middle;
}

.wrapper .footer-widget p{
    margin-bottom: 30px;
    font-size: 16px;
    line-height: 24px;
}

.wrapper .footer-widget .socials{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.wrapper .footer-widget .socials li{
    list-style: none;
}

.wrapper .footer-widget .socials li a{
    color: #000;
    width: 44px;
    height: 44px;
    margin-right: 10px;
    background-color: rgb(0, 0, 0);
    border-radius: 50%;
    font-size: 20px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-out;  
}

.wrapper .footer-widget h6{
    color: #585978;
    margin: 10px 0 35px;
    font-size: 20px;
    font-weight: 600;
}

.wrapper .footer-widget .links li{
    list-style: none;
}

.wrapper .footer-widget .links li a{
    color: #585978;
    font-size: 16px;
    text-decoration: none;
    line-height: 32px;
    transition: all 0.3s ease-out;
}

.wrapper .footer-widget .links li a:hover{
    color: #037ef3;
}

.copyright-wrapper{
    padding: 20px 0;
    border-top: 1px solid rgba(88, 89, 120, 0.4);
}

.copyright-wrapper p{
    color: rgba(88, 89, 120, 0.4);
    font-size: 14px;
    font-weight: 500;
    text-align: center;
}

.copyright-wrapper p a{
    color: inherit;
    font-weight: 500;
    text-decoration: none;
    transition: all 0.3s ease-out;
}

.copyright-wrapper p a:hover{
    color: #037ef3;
}

@media(max-width:992px){
    .footer{
        max-width: 960px;
    }

    .wrapper .footer-widget,
    .wrapper .footer-widget:nth-child(1){
        width: calc(50% - 30px);
    }
}

@media(max-width:768px){
    .footer{
        max-width: 720px;
    }

    .wrapper .footer-widget,
    .wrapper .footer-widget:nth-child(1){
        width: 100%;
        margin: 0 10px 50px;
    }
}

@media (max-width: 978px ) and (min-width: 768px) {
    header .navigation .menu{
        font-size: 0.9em;
        position: fixed;
        display: block;
        background: #fff;
        min-width: 350px;
        height: 100vh;
        top: 0;
        right: -100%;
        padding: 50px;
        visibility: hidden;
        overflow-y: auto;
        transition: 0.5s;
        transition-property: right, visibility;
    }
    header .navigation .menu.active{
        right: 0;
        visibility: visible;
    }
    .menu-item{
        position: relative;
    }
    .menu-item .sub-menu{
        opacity: 1;
        position: relative;
        top: 0;
        transform: translateX(10px);
        background: rgba(255, 255, 255, 0.1);
        border-radius: 5px;
        overflow: hidden;
        display: none;
    }
    .menu-item:hover .sub-menu{
        transform: translateX(10px);
    }
    .menu-item .sub-menu .sub-item{
        box-shadow: none;
    }
    .menu-item .sub-menu .sub-item:hover{
        background: none;
    }
    .menu-item .sub-menu .sub-item a:hover{
        color: #4080EF;
        transition: 0.3s;
    }
    /*Green*/
    .menu-item .sub-menu .sub-item1{
        box-shadow: none;
    }
    .menu-item .sub-menu .sub-item1:hover{
        background: none;
    }
    .menu-item .sub-menu .sub-item1 a:hover{
        color: #36CF61;
        transition: 0.3s;
    }
    /*--------*/
    .close-btn{
        position: absolute;
        background: url(./close.png)no-repeat;
        width: 40px;
        height: 40px;
        background-size: 25px;
        background-position: center;
        top: 0;
        left: 0;
        margin: 25px;
        cursor: pointer;

    }
    .menu-btn{
        background: url(./menu.png)no-repeat;
        width: 40px;
        height: 40px;
        background-size: 30px;
        background-position: center;
        cursor: pointer;
        display: block;
    }
    header{
        padding: 15px 20px;
    }
}

@media (max-width: 768px ) {
    header .navigation .menu{
        font-size: 0.9em;
        position: fixed;
        display: block;
        background: #fff;
        min-width: 350px;
        height: 100vh;
        top: 0;
        right: -100%;
        padding: 50px;
        visibility: hidden;
        overflow-y: auto;
        transition: 0.5s;
        transition-property: right, visibility;
    }

    header .navigation .menu.active{
        right: 0;
        visibility: visible;
    }
    .menu-item{
        position: relative;
    }
    .menu-item .sub-menu{
        opacity: 1;
        position: relative;
        top: 0;
        transform: translateX(10px);
        background: rgba(255, 255, 255, 0.1);
        border-radius: 5px;
        overflow: hidden;
        display: none;
    }
    .menu-item:hover .sub-menu{
        transform: translateX(10px);
    }
    .menu-item .sub-menu .sub-item{
        box-shadow: none;
    }
    .menu-item .sub-menu .sub-item:hover{
        background: none;
    }
    .menu-item .sub-menu .sub-item a:hover{
        color: #4080EF;
        transition: 0.3s;
    }
    /*Green*/
    .menu-item .sub-menu .sub-item1{
        box-shadow: none;
    }
    .menu-item .sub-menu .sub-item1:hover{
        background: none;
    }
    .menu-item .sub-menu .sub-item1 a:hover{
        color: #36CF61;
        transition: 0.3s;
    }
    /*--------*/
    .close-btn{
        position: absolute;
        background: url(./close.png)no-repeat;
        width: 40px;
        height: 40px;
        background-size: 25px;
        background-position: center;
        top: 0;
        left: 0;
        margin: 25px;
        cursor: pointer;

    }
    .menu-btn{
        background: url(./menu.png)no-repeat;
        width: 40px;
        height: 40px;
        background-size: 30px;
        background-position: center;
        cursor: pointer;
        display: block;
    }
    header{
        padding: 15px 20px;
    }
}

/*--------------------WhastApp-------------------*/
.whatsapp-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    align-items: center;
}

.whatsapp-logo img {
    width: 80px;
    height: auto;
    cursor: pointer;
}

.tooltip {
    background-color: #333;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    position: absolute;
    bottom: 90px;
    right: 0;
    transform: translateY(20px);
    opacity: 0;
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

@keyframes fadeUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.whatsapp-container:hover .whatsapp-logo:hover + .tooltip {
    display: block;
    animation: fadeUp 0.5s ease-in-out forwards;
}